@charset "UTF-8";
/*style footer*/
.footer {
  background-color: #3b5d50;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}
.footer .links div h3 {
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
  font-family: "sans";
}
.footer .links div .redes {
  list-style: none;
  display: flex;
  justify-content: left;
  gap: 5px;
}
.footer .links div .redes .img-redes {
  width: 40px;
  height: 40px;
}
.footer .direccion-local {
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #FFF;
}
.footer .direccion-local .direccion-local h3 {
  font-size: 30px;
  font-family: "sans";
}
.footer .direccion-local .direccion-local p {
  font-size: 20px;
  font-family: "sans-thin";
  font-weight: bold;
}

/*style header*/
.header {
  background-color: #3b5d50;
  display: flex;
  flex-direction: row;
  color: #FFF;
}
.header .navbar-brand {
  background-color: #3b5d50;
  flex-direction: row;
  align-items: left;
  color: #FFF;
}
.header .loguin {
  width: 20px;
  height: 20px;
  padding: 0%;
  align-items: center;
}
.header .carrito {
  width: 20px;
  height: 20px;
  align-items: center;
}

/* style Home*/
.home {
  background-color: #3b5d50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.home .img-home {
  width: 750px;
  margin-left: 100px;
}

.home-shop {
  font-family: "sans";
  font-size: 1.875rem;
  color: #FFF;
  padding-top: 5px;
}
.home-shop .texto-principal {
  text-align: center;
  margin-right: 100px;
  margin-top: 100px;
}
.home-shop .texto-principal h2 {
  font-family: "sans";
  text-align: center;
  color: #FFF;
  font-size: 30px;
}
.home-shop .texto-principal p {
  font-family: "sans-thin";
  text-align: center;
  color: #FFF;
  font-size: 20px;
}
.home-shop .shop-button {
  border-radius: 30px;
  border-style: none;
  background-color: #F9BF29;
  width: 150px;
  height: 60px;
  font-family: "sans";
  font-weight: bold;
  font-size: 20px;
}

/* style About Us*/
.about-us {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 50px;
}
.about-us div .img-about2 {
  width: 300px;
}
.about-us .conteinter-about section {
  text-align: center;
  text-align: justify;
  padding-top: 60px;
}
.about-us .conteinter-about section h2 {
  font-family: "sans";
  font-size: 30px;
  color: rgb(58, 58, 58);
}
.about-us .conteinter-about section p {
  font-family: "sans-thin";
  font-size: 20px;
}
.about-us div .img-about1 {
  width: 300px;
}

.por-que-elegirnos {
  font-family: "sans";
  font-size: 30px;
  color: rgb(58, 58, 58);
  margin: 70px;
}
.por-que-elegirnos .elegirnos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.por-que-elegirnos .elegirnos-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.por-que-elegirnos .elegirnos-1 div .img-elegirnos {
  width: 80px;
}
.por-que-elegirnos .elegirnos-2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.por-que-elegirnos .elegirnos-2 div .img-elegirnos {
  width: 80px;
}

/* style About Us*/
.about-us {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 50px;
}
.about-us div .img-about2 {
  width: 300px;
}
.about-us .conteinter-about section {
  text-align: center;
  text-align: justify;
  padding-top: 60px;
}
.about-us .conteinter-about section h2 {
  font-family: "sans";
  font-size: 30px;
  color: rgb(58, 58, 58);
}
.about-us .conteinter-about section p {
  font-family: "sans-thin";
  font-size: 20px;
}
.about-us div .img-about1 {
  width: 300px;
}

.por-que-elegirnos {
  font-family: "sans";
  font-size: 30px;
  color: rgb(58, 58, 58);
  margin: 70px;
}
.por-que-elegirnos .elegirnos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.por-que-elegirnos .elegirnos-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.por-que-elegirnos .elegirnos-1 div .img-elegirnos {
  width: 80px;
}
.por-que-elegirnos .elegirnos-2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.por-que-elegirnos .elegirnos-2 div .img-elegirnos {
  width: 80px;
}

/* style Cards*/
.sillas, .sillones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.caracteristicas-sillon {
  text-align: center;
  background-color: none;
  font-family: "sans";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-sillon:hover {
  transform: scale(1.2);
  box-shadow: 13px 15px 37px rgb(124, 124, 124);
}

.shop-card-sillon {
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 25px;
  text-align: center;
  font-family: "sans";
  font-weight: bold;
  font-size: 20px;
}

/* style loguin*/
.loguin {
  font-family: "sans";
  color: #545454;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 5px;
  margin-bottom: 50px;
}
.loguin .usuario {
  margin-right: 300px;
  margin-left: 20px;
  gap: 3.125rem;
}
.loguin .button-enviar {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  background-color: none;
  width: 70px;
  height: 30px;
  font-family: "sans";
  font-size: 15px;
  margin: 10px;
}
.loguin .contraseña {
  margin-right: 100px;
  margin-left: 20px;
  border-radius: 30px;
  gap: 3.125rem;
}

/* style Contacto*/
.contacto {
  background-color: #FFF;
  font-family: "sans";
  color: rgba(47, 47, 47, 0.8);
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contacto .contacto-texto {
  margin-right: 100px;
  margin-left: 20px;
}
.contacto .contacto-texto h2 {
  font-size: 30px;
  font-family: "sans";
}
.contacto .contacto-texto p {
  font-size: 20px;
  font-family: "sans-thin";
  font-weight: bold;
}
.contacto .mapa {
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .home-shop {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .home .img-home {
    width: 100%;
    margin: 10px;
  }
  .home-shop .texto-principal {
    margin: 50px;
  }
  .home-shop .texto-principal h2 {
    font-size: 30px;
  }
  .home-shop .texto-principal p {
    font-size: 20px;
  }
  .home-shop .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-shop .footer {
    background-color: #3b5d50;
    color: #FFF;
    display: flex;
    flex-direction: column;
  }
  .home-shop .footer .links div h3 {
    text-align: left;
    font-size: 30px;
    font-family: "sans";
  }
  .home-shop .footer .links div .redes {
    list-style: none;
    display: flex;
    margin-left: 0px;
    gap: 5px;
  }
  .home-shop .footer .links div .redes .img-redes {
    width: 40px;
    height: 40px;
  }
  .home-shop .footer .direccion-local {
    margin-right: 50px;
    margin-bottom: 20px;
    color: #FFF;
  }
  .home-shop .footer .direccion-local .direccion-local h3 {
    font-size: 30px;
    font-family: "sans";
  }
  .home-shop .footer .direccion-local .direccion-local p {
    font-size: 20px;
    font-family: "sans-thin";
    font-weight: bold;
  }
}
@media (max-width: 320px) {
  /*responsive home*/
  .home {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .home .img-home {
    width: 100%;
    margin: 10px;
  }
  .home-shop .texto-principal {
    margin: 30px;
  }
  .home-shop .texto-principal h2 {
    font-size: 20px;
  }
  .home-shop .texto-principal p {
    font-size: 10px;
  }
  .home-shop .shop-button {
    font-size: 15px;
    width: 100px;
    height: 40px;
  }
  /* style About Us*/
  .about-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px;
  }
  .about-us div .img-about2 {
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
  }
  .about-us .conteinter-about section {
    text-align: center;
    text-align: justify;
    margin-left: 20px;
    padding-top: 60px;
  }
  .about-us .conteinter-about section h2 {
    font-family: "sans";
    font-size: 30px;
    color: rgb(58, 58, 58);
  }
  .about-us .conteinter-about section p {
    font-family: "sans-thin";
    font-size: 20px;
  }
  .about-us div .img-about1 {
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  .por-que-elegirnos {
    margin: 70px;
  }
  .por-que-elegirnos .elegirnos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
  }
  .por-que-elegirnos .elegirnos-1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .por-que-elegirnos .elegirnos-1 div .img-elegirnos {
    width: 80px;
  }
  .por-que-elegirnos .elegirnos-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .por-que-elegirnos .elegirnos-2 div .img-elegirnos {
    width: 80px;
  }
  /*responsive shop*/
  .img-sillongris {
    width: 250px;
  }
  .img-sillonbeige {
    width: 250px;
  }
  .img-sillonrojo {
    width: 250px;
  }
  /*responsive loguin*/
  .loguin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .loguin .usuario {
    margin-right: 300px;
    margin-left: 20px;
    gap: 3.125rem;
  }
  .loguin .button-enviar {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: none;
    width: 70px;
    height: 30px;
    font-family: "sans";
    font-size: 15px;
  }
  .loguin .contraseña {
    margin-right: 100px;
    margin-left: 20px;
    border-radius: 30px;
    gap: 3.125rem;
  }
  /*responsive Contacto*/
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mapa {
    width: 100%;
  }
  /*responsive Footer*/
  .footer {
    background-color: #3b5d50;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  .footer .links div h3 {
    text-align: left;
    font-size: 30px;
    font-family: "sans";
  }
  .footer .links div .redes {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0%;
  }
  .footer .links div .redes .img-redes {
    width: 40px;
    height: 40px;
  }
  .footer .direccion-local {
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 30px;
    color: #FFF;
  }
  .footer .direccion-local .direccion-local h3 {
    font-size: 30px;
    font-family: "sans";
    text-align: left;
  }
  .footer .direccion-local .direccion-local p {
    font-size: 20px;
    font-family: "sans-thin";
    font-weight: bold;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
