*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
@font-face {
    font-family:"sans";
    src: url("../assets/font/NotoSans-Bold.ttf");
}

@font-face {
    font-family:"sans-thin";
    src: url("../assets/font/NotoSans-Thin.ttf");
}

.header-nav{
    display: flex;
    align-items: center;
    background-color: #3b5d50;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    font-family: "sans";
    justify-content: left;
    }

.header-secciones{
    display: flex;
    background-color: #3b5d50;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
    }

.navbar{
    background-color: #3b5d50;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    font-family: "sans";
    }

.header{
    background-color: #3b5d50;
    display: flex;
    flex-direction: row;
    color: #FFF;
}

.navbar-brand{
    background-color: #3b5d50;
    display: flex;
    flex-direction: row;
    color: #FFF;
}

.nav-link{
    background-color: #3b5d50;
    display: flex;
    flex-direction: row;
    color: #FFF; 
}

.navbar-toggle{
    background-color: #3b5d50;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    color: #FFF; 
}

.navbar-brand{
    background-color: #3b5d50;
    display: flex;
    flex-direction: row;
    align-items: left;
    color: #FFF; 
}

.navbar-expand-lgheader-secciones li a{
    background-color: #3b5d50;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #FFF;
    font-size: 10px;
}

.loguin{
    width: 20px;
    height: 20px;
    align-items: center;
    }

.carrito{
    width: 20px;
    height: 20px;
    align-items: center;
}

h1{
    margin-left: 1rem;
    margin-right: 8rem;  
}

/* style Home*/

.home{
    background-color: #3b5d50;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
}

.home-shop{
    font-family:"sans";
    font-size: 1.875rem;
    color: #FFF;
    padding-top: 05px;
}

.img-home{
    width: 750px;
    margin-left: 100px;
    }

.texto-principal{
    text-align: center;
    margin-right: 100px;
    margin-top: 100px;
}

.texto-principal h2{
    font-family:"sans";
    text-align: center;
    color:#FFF;
    font-size: 30px;
}

.texto-principal p{
    font-family: "sans-thin";
    font-weight: bold;
    text-align: center;
    text-align: justify;
    color:#FFF;
    font-size: 20px;
}

.shop-button{
    border-radius: 30px;
    border-style: none;
    background-color:#F9BF29;
    width: 110px;
    height: 30px;
    gap: 10px;
    font-family: "sans";
    font-size: 15px;
}

/* style About Us*/

.about-us {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
}

.img-about1{
    width: 300px;
    padding-right: 80px;
}

.img-about2{
    width: 300px;
    padding-right: 80px;
    position: relative;
    top: 50px;
    right: 50px;
} 

.texto-about-us{
    text-align: center;
    text-align: justify;
    margin-left: 20px;
    
}

.texto-about-us h2{
    font-family: "sans";
    font-size: 30px;
}

.texto-about-us p{
    font-family: "sans-thin";
    font-weight: bold;
    font-size:20px;
}

.por-que-elegirnos{
    font-family: "sans";
    font-size: 30px;
    margin: 70px;
}

.elegirnos{
    font-family: "sans-thin";
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    }

.img-elegirnos{
    width: 80px;
    height: 80px;
}

/* style Cards*/

.sillas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 50px;
    }

.sillones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    
.cards-sillon{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    }

.caracteristicas-sillon{
    text-align: center;
    background-color: none;
    font-family: "sans";
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.shop-card-sillon{
    border: none;
    border-radius: 20px;
    height:25px;
    width: 20px;
    text-align:center;
    font-family: "sans";
    font-size: 20px;
    }

/* style Contacto*/

.contacto{
    background-color: #FFF;
    font-family:"sans";
    color:#2F2F2FCC ;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    }
    
.contacto-texto{
    margin-right: 100px;
    margin-left: 20px;
    }

.contacto-texto h2{
    font-size: 30px;
    font-family: "sans";
}

.contacto-texto p{
    font-size: 20px;
    font-family: "sans-thin";
    font-weight: bold;
}

.mapa{
    border-radius: 20px;
}
    
/* style loguin*/

    .loguin{
    font-family:"sans";
    color:#3b5d50;
    display: table-row;
    }
    
    .usuario{
    margin-right: 300px;
    margin-left: 20px;
    }

    .contraseña{
    margin-right: 100px;
    margin-left: 20px;
    border-radius: 30px;
    }

    .button-enviar{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: none;
    width: 70px;
    height: 30px;
    font-family: "sans";
    font-size: 15px;
    }
    
/* style Footer*/

    .footer{
    background-color: #3b5d50;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    font-family:"sans";
    padding-top: 30px;
    }

    .texto-links{
    margin-left: 30px;
    }
    .links{
    text-align: left;
    font-size: 20px;
    }

    .redes{
    list-style: none;
    display: flex;
    margin-left: 0px;
    gap: 5px;
    }
    
    .img-redes{
    width: 40px;
    height: 40px;
    }
    
    .direccion-local{
    font-size:20px;
    margin-right: 50px;
    margin-bottom: 20px;
    }

    .direccion-local h3{
    font-size: 30px;
    }

    .direccion-local p{
        font-size: 20px;
        font-family: "sans-thin";
    }














    @media (max-width:1024px){
        .home-shop{
        background-color: #3b5d50;
        flex-direction: column;
        width: 100%;
        color: #FFF;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        margin: 0%;
        }

        .img-home{
            display: flex;
            flex-direction: column;
            }

        .texto-principal h2{
        text-align: right;
        flex-direction: column;
        }

        .texto-principal p{
            text-align: justify;
            display: flex;
            flex-direction: column;

            color: #FFF;
            font-size: 10px;
            font-family: "sans-thin";
            background-color: #3b5d50;
            }
            }


    @media (max-width:768px){
        .home-shop{
            background-color: #3b5d50;
            width: 100%;
            color: #FFF;
            font-size: 10px;
            display: flex;
            flex-direction: column;
            margin: 0%;
        }
    
        .img-home{
            display: flex;
            flex-direction: column;
            }

        .texto-principal h2{
        text-align: justify;
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-size: 14px;
        font-family: "sans";
        background-color: #3b5d50;
        }

        .texto-principal p{
            text-align: justify;
            display: flex;
            flex-direction: column;
            color: #FFF;
            margin-left: 05px;
            font-size: 10px;
            font-family: "sans-thin";
            background-color: #3b5d50;
            }

            /*responsive 768px cards-sección shop*/

            .sillas{
                display: grid;
                grid-template-columns: 100%;
                justify-content: center;
                align-items: center;
                gap: 150px;
                }
            
            .sillones{
                    display: grid;
                    grid-template-columns: 100%;
                    justify-content: center;
                    align-items: center;
                    gap: 150px;
                }
                
            .img-sillonblanco{
                    width: 40%;
                }
            .img-sillongris{
                    width: 40%;
                }
        
            .img-sillonbeige{
                    width: 40%;
                }
        
            .img-sillonrojo{
                    width: 40%;
                }

/*responsive 768px sección contacto*/

            .contacto{
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                margin: 20px;
                }

            .mapa{
                width: 400px;
                height: 400px;
                border-radius: 20px; 
            }
    }


    @media (max-width:320px){

/*responsive 320px home-sección */

            .home{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                }

            .home-shop{
                background-color: #3b5d50;
                width: 100%;
                color: #FFF;
                display: flex;
                flex-direction: column;
                margin: 0%;
            }
    
            .img-home{
                display: flex;
                flex-direction: column;
                width: 300px;
                margin-left: 10px;
                }
    
            .texto-principal{
                margin: 20px;
            }

            .texto-principal p{
                text-align: justify;
                display: flex;
                flex-direction: column;
                color: #FFF;
                font-family: "sans-thin";
                background-color: #3b5d50;
                }   
            
/*responsive 320px about us -sección*/        

.about-us{
    display: flex;
    flex-direction: column;
}

.elegirnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-elegirnos{
    
}

            
/*responsive 320px cards-sección shop*/

            .sillas{
                display: grid;
                grid-template-columns: 100%;
                justify-content: center;
                align-items: center;
                gap: 20px;
                }
            
            .sillones{
                    display: grid;
                    grid-template-columns: 100%;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                }
                
            .img-sillonblanco{
                    width: 100%;
                }
            .img-sillongris{
                    width: 100%;
                }
        
            .img-sillonbeige{
                    width: 100%;
                }
        
            .img-sillonrojo{
                    width: 100%;
                }
/*responsive 320px-sección contacto*/

            .contacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            }
            .contacto-texto{
            margin: 0;
            text-align: center;
            }
                
            .mapa{
            width: 300px;
            height: 300px;
            border-radius: 10px; 
            }

/*responsive 320px- footer*/
            .footer{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .links{
                text-align: center;
                margin: 15px;
                }

            .redes{
                justify-content: left;
                align-items: start;
            }
            
            .direccion-local{
                margin-right: 0px;
                text-align: center;
                margin: 15px;
            }

    }