@charset "UTF-8";
/*style footer*/
.footer {
  background-color: #3b5d50;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer .links div h3 {
  text-align: left;
  font-size: 30px;
  font-family: "sans";
}
.footer .links div .redes {
  list-style: none;
  display: flex;
  margin-left: 0px;
  gap: 5px;
}
.footer .links div .redes .img-redes {
  width: 40px;
  height: 40px;
}
.footer .direccion-local {
  margin-right: 50px;
  margin-bottom: 20px;
  color: #FFF;
}
.footer .direccion-local .direccion-local h3 {
  font-size: 30px;
  font-family: "sans";
}
.footer .direccion-local .direccion-local p {
  font-size: 20px;
  font-family: "sans-thin";
  font-weight: bold;
}

/*style header*/
.header {
  background-color: #3b5d50;
  display: flex;
  flex-direction: row;
  color: #FFF;
}
.header .navbar-brand {
  background-color: #3b5d50;
  flex-direction: row;
  align-items: left;
  color: #FFF;
}
.header .loguin {
  width: 20px;
  height: 20px;
  align-items: center;
}
.header .carrito {
  width: 20px;
  height: 20px;
  align-items: center;
}

/* style Home*/
.home {
  background-color: #3b5d50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
.home .img-home {
  width: 750px;
  margin-left: 100px;
}

.home-shop {
  font-family: "sans";
  font-size: 1.875rem;
  color: #FFF;
  padding-top: 5px;
}
.home-shop .texto-principal {
  text-align: center;
  margin-right: 100px;
  margin-top: 100px;
}
.home-shop .texto-principal h2 {
  font-family: "sans";
  text-align: center;
  color: #FFF;
  font-size: 30px;
}
.home-shop .texto-principal p {
  font-family: "sans-thin";
  text-align: center;
  color: #FFF;
  font-size: 20px;
}
.home-shop .shop-button {
  border-radius: 30px;
  border-style: none;
  background-color: #F9BF29;
  width: 150px;
  height: 60px;
  gap: 30px;
  font-family: "sans";
  font-weight: bold;
  font-size: 20px;
}

/* style About Us*/
.about-us {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 50px;
}
.about-us .conteinter-about section {
  text-align: center;
  text-align: justify;
  margin-left: 20px;
}
.about-us .conteinter-about section h2 {
  font-family: "sans";
  font-size: 30px;
  color: rgb(58, 58, 58);
}
.about-us .conteinter-about section p {
  font-family: "sans-thin";
  font-size: 20px;
}
.about-us .conteinter-about .img-about1 {
  width: 300px;
  padding-right: 80px;
}
.about-us .conteinter-about .img-about2 {
  width: 300px;
  padding-right: 80px;
  position: relative;
  top: 50px;
  right: 50px;
}

.por-que-elegirnos {
  font-family: "sans";
  font-size: 30px;
  color: rgb(58, 58, 58);
  margin: 70px;
}
.por-que-elegirnos .elegirnos {
  font-family: "sans-thin";
  font-weight: bold;
  font-size: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
.por-que-elegirnos .elegirnos div {
  font-family: "sans-thin";
  font-size: 20px;
  color: rgb(58, 58, 58);
  font-weight: lighter;
}
.por-que-elegirnos .elegirnos .img-elegirnos {
  width: 80px;
  height: 80px;
}

/* style Cards*/
.sillas, .sillones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.caracteristicas-sillon {
  text-align: center;
  background-color: none;
  font-family: "sans";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-sillon:hover {
  transform: scale(1.2);
  box-shadow: 13px 15px 37px rgb(124, 124, 124);
}

/* style Contacto*/
.contacto {
  background-color: #FFF;
  font-family: "sans";
  color: rgba(47, 47, 47, 0.8);
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacto-texto {
  margin-right: 100px;
  margin-left: 20px;
}

.contacto-texto h2 {
  font-size: 30px;
  font-family: "sans";
}

.contacto-texto p {
  font-size: 20px;
  font-family: "sans-thin";
  font-weight: bold;
}

.mapa {
  border-radius: 20px;
}

/* style loguin*/
.loguin {
  font-family: "sans";
  color: #3b5d50;
  display: table-row;
}

.usuario {
  margin-right: 300px;
  margin-left: 20px;
}

.contraseña {
  margin-right: 100px;
  margin-left: 20px;
  border-radius: 30px;
}

.button-enviar {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  background-color: none;
  width: 70px;
  height: 30px;
  font-family: "sans";
  font-size: 15px;
}

@media (max-width: 320px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
