/*style footer*/

.footer{
    background-color: $background-principal;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    .links{
        div{
            h3{
            text-align: left;
            margin-left: 30px;
            margin-top: 20px;
            font-size: 30px;
            font-family: "sans";
            }
        }
        div{
            .redes{
                list-style: none;
                display: flex;
                justify-content: left;
                gap: 5px;
                .img-redes{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    .direccion-local{
        margin-right: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
        color: #FFF;
        .direccion-local h3{
            font-size: 30px;
            font-family: "sans";
        }
        .direccion-local p{
            font-size: 20px;
            font-family: "sans-thin";
            font-weight: bold;
        }
    }
}