/* style Contacto*/
.contacto{
    background-color: #FFF;
    font-family:"sans";
    color:#2F2F2FCC ;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    .contacto-texto{
        margin-right: 100px;
        margin-left: 20px;
        }
        .contacto-texto h2{
            font-size: 30px;
            font-family: "sans";
        }
        .contacto-texto p{
            font-size: 20px;
            font-family: "sans-thin";
            font-weight: bold;
        }
        .mapa{
            border-radius: 20px;
        }
    
    }
    







    
