/* style Home*/

.home{
    background-color: $background-principal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    .img-home{
        width: 750px;
        margin-left: 100px;
        }
}
.home-shop{
    font-family:"sans";
    font-size: 1.875rem;
    color: $color-text-principal;
    padding-top: 05px;
    .texto-principal{
        text-align: center;
        margin-right: 100px;
        margin-top: 100px;
    }
    .texto-principal h2{
        font-family:"sans";
        text-align: center;
        color:$color-text-principal; 
        font-size: 30px;
    }
    .texto-principal p{
        font-family:"sans-thin";
        text-align: center;
        color: $color-text-principal;
        font-size: 20px;
    }
    .shop-button{
        border-radius: 30px;
        border-style: none;
        background-color:#F9BF29;
        width: 150px;
        height: 60px;
        font-family: "sans";
        font-weight: bold;
        font-size: 20px;
    }

    
}
/* style About Us*/
.about-us{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
    div{
        .img-about2{
            width:300px;
        }
    }
    .conteinter-about{
        section{ 
            text-align: center;
            text-align: justify;
            padding-top: 60px;
            h2{
                @include titulos;
            }
            p{
                font-family: "sans-thin";
                font-size: 20px;
            }
        } 
    }
    div{
        .img-about1{
            width:300px;
        }
    }
}
.por-que-elegirnos{
    @include titulos;
    margin: 70px;
    .elegirnos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
    }
        .elegirnos-1{
            display: flex;
            flex-direction: column;
            gap: 50px;
            div{
                .img-elegirnos{
                    width: 80px;
                }
            }
        }
        .elegirnos-2{
            display: flex;
            flex-direction: column;
            gap: 50px;
            div{
                .img-elegirnos{
                    width: 80px;
                }
            }
        }
    }






