
@media (max-width:320px){

/*responsive home*/
.home{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .img-home{
        width: 100%;
        margin: 10px;
        }
}
.home-shop{
    .texto-principal{
        margin: 30px;
    }
    .texto-principal h2{
        font-size: 20px;
    }
    .texto-principal p{

        font-size: 10px;
    }
    .shop-button{
        font-size: 15px;
        width: 100px;
        height: 40px;
    }
}
/* style About Us*/
.about-us{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px;
    div{
        .img-about2{
            width:250px;
            justify-content: center;
            align-items: center;
            margin-right: 100px;
        }
    }
    .conteinter-about{
        section{ 
            text-align: center;
            text-align: justify;
            margin-left: 20px;
            padding-top: 60px;
            h2{
                @include titulos;
            }
            p{
                font-family: "sans-thin";
                font-size: 20px;
            }
        } 
    }
    div{
        .img-about1{
            width:250px;
            justify-content: center;
            align-items: center;
            margin-right: 0px;
        }
    }
}
.por-que-elegirnos{
    margin: 70px;
    .elegirnos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
    }
        .elegirnos-1{
            display: flex;
            flex-direction: column;
            gap: 50px;
            div{
                .img-elegirnos{
                    width: 80px;
                }
            }
        }
        .elegirnos-2{
            display: flex;
            flex-direction: column;
            gap: 50px;
            div{
                .img-elegirnos{
                    width: 80px;
                }
            }
        }
    }


/*responsive shop*/

    .img-sillongris{
        width:250px;
    }
    .img-sillonbeige{
        width:250px;
    }
    .img-sillonrojo{
        width:250px;
    }


/*responsive loguin*/
.loguin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .usuario{
        margin-right: 300px;
        margin-left: 20px;
        gap: 3.125rem;
        }
        .button-enviar{
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            background-color: none;
            width: 70px;
            height: 30px;
            font-family: "sans";
            font-size: 15px;
            }
    .contraseña{
        margin-right: 100px;
        margin-left: 20px;
        border-radius: 30px;
        gap: 3.125rem;
            }
    }
/*responsive Contacto*/
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapa{
    width:100%;
}
/*responsive Footer*/
.footer{
    background-color: $background-principal;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    .links{
        div{
            h3{
            text-align: left;
            font-size: 30px;
            font-family: "sans";
            }
        }
        div{
            .redes{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                margin: 0%;

                .img-redes{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    .direccion-local{
        justify-content: center;
        align-items: center;
        margin: 20px;
        gap: 30px;

        color: $color-text-principal;
        .direccion-local h3{
            font-size: 30px;
            font-family: "sans";
            text-align: left;
        }
        .direccion-local p{
            font-size: 20px;
            font-family: "sans-thin";
            font-weight: bold;
            text-align: center;
        }
    }
}
}