
@media (max-width:320px){
/*responsive loguin*/
.loguin{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 500px;
    .usuario{
        margin-right: 300px;
        margin-left: 20px;
        gap: 3.125rem;
        }
        .button-enviar{
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            background-color: none;
            width: 70px;
            height: 30px;
            font-family: "sans";
            font-size: 15px;
            }
    .contraseña{
        margin-right: 100px;
        margin-left: 20px;
        border-radius: 30px;
        gap: 3.125rem;
            }
    }
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapa{
    width:100%;
}
/*responsive Footer*/
.footer{
    background-color: $background-principal;
    color: #FFF;
    display: flex;
    flex-direction: column;
    .links{
        div{
            h3{
            text-align: left;
            font-size: 30px;
            font-family: "sans";
            }
        }
        div{
            .redes{
                list-style: none;
                display: flex;
                flex-direction: column;
                margin-left: 0px;
                gap: 5px;
                .img-redes{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    .direccion-local{
        margin-right: 50px;
        margin-bottom: 20px;
        color: #FFF;
        .direccion-local h3{
            font-size: 30px;
            font-family: "sans";
        }
        .direccion-local p{
            font-size: 20px;
            font-family: "sans-thin";
            font-weight: bold;
        }
    }
}
}
