
@media (max-width:768px){
    .home{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .img-home{
            width: 100%;
            margin: 10px;
            }
    }
    .home-shop{
        .texto-principal{
            margin: 50px;
        }
        .texto-principal h2{
            font-size: 30px;
        }
        .texto-principal p{
            font-size: 20px;
        }
        .shop-button{
        }
    
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer{
        background-color: $background-principal;
        color: #FFF;
        display: flex;
        flex-direction: column;
        .links{
            div{
                h3{
                text-align: left;
                font-size: 30px;
                font-family: "sans";
                }
            }
            div{
                .redes{
                    list-style: none;
                    display: flex;
                    margin-left: 0px;
                    gap: 5px;
                    .img-redes{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        .direccion-local{
            margin-right: 50px;
            margin-bottom: 20px;
            color: #FFF;
            .direccion-local h3{
                font-size: 30px;
                font-family: "sans";
            }
            .direccion-local p{
                font-size: 20px;
                font-family: "sans-thin";
                font-weight: bold;
            }
        }
    }
}
}

