
@media(max-width:768px){
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    
    
    
    }