.header{
    background-color:$background-principal;
    color: $color-text-principal;
    .navbar-brand{
        background-color: $background-principal;
        align-items: left;
        color: $color-text-principal;
    }
    .loguin{
        width: 20px;
        height: 20px;
        align-items: center;
        }
    
    .carrito{
        width: 20px;
        height: 20px;
        align-items: center;
    }
    
}